<% if logged_in? %>
<div class="row">
  <div class="section container">
    <aside class="col l7 s12">
      <div class="section">
        <div class="card-panel z-depth-2 micropost-border">
          <section class="user_info">
            <%= render 'shared/user_info' %>
          </section>
          <section class="stats">
            <%= render 'shared/stats' %>
          </section>
          <section class="micropost_form">
            <%= render 'shared/micropost_form' %>
          </section>
        </div>
        <%= render 'shared/feed' %>
      </div>
    </aside>
    
    <div class="section">
      <div class="col l5">
        <div class="card-panel z-depth-2 micropost-border">
          <div class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.568208169681!2d-99.13523265255242!3d19.431053778774338!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fecd4864aaff%3A0x4cff0c5cb291360c!2zWsOzY2Fsbw!5e0!3m2!1ses!2smx!4v1543816635617" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% else %>
  <div class="row container">
    <div class="col l6"></div>
    <div class="col l4 offset-l2 card-panel radius z-depth-3 page-center-5em">
      <%= render 'users/form' %>  
    </div>
  </div>
<% end %>
