<div class="container valign-wrapper">
  <div class="row">
    <div class="col l8 offset-l2 ">
      <div class="card-panel z-depth-4 page-center">
        
        <h5 class="center">Iniciar sesión</h5>
        <div class="divider"></div>
        
        <%= form_for(:session, url: login_path) do |f| %>

        <div class=" col l12 input-field">
          <i class="material-icons prefix">email</i>
          <%= f.email_field :email, class: 'form-control' %>
          <label for="icon_prefix"><%= f.label :correo %></label>
        </div>
        
        
        <div class="col l12 input-field">
          <i class="material-icons prefix">lock_outline</i>
          <%= f.password_field :password, class: 'form-control' %>
          <label for="icon_prefix"><%= f.label :contraseña %></label>
        </div>
        
        <div class="center">
          <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>Recordar en este dispositivo</span>
          <% end %>
        </div>

        <br>
          <div class="center">
            <%= link_to "(Olvidé mi contraseña)", new_password_reset_path, class:"center" %>
          </div>
          <br>
          <div class="center">
            <%= f.submit "Iniciar Sesión", class: "btn btn-primary center-block" %>
          </div>
        <% end %>
        
        <p class="center">Usuario nuevo? <%= link_to "Registrate!", signup_path %></p>
        
      </div>
    </div>
  </div>
</div>