<% provide(:title, "Forgot password") %>
<h3 class="center">Olvidé mi contraseña</h3>

<div class="container">
  <div class="row">
    <div class="col l6 offset-l3">
      <div class="card-panel radius z-depth-3">
        <%= form_for(:password_reset, url: password_resets_path) do |f| %>
          
          <div class=" col l12 input-field">
            <i class="material-icons prefix">email</i>
            <%= f.email_field :email, class: 'form-control' %>
            <label for="icon_prefix"><%= f.label :correo %></label>
          </div>
          
          <div class="center">
            <%= f.submit "Enviar", class: "btn btn-primary z-depth-3 " %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>