<h1>Tianguitz</h1>

<p>Hola, <%= @user.name %>,</p>

<p>
¡Gracias por registrate! Nos da mucho gusto que ahora seas parte de nosotros. Una comunidad 100% Mexicana <br>
y cultural. En el enlace de abajo podrás activar tu cuenta.
</p>

<%= link_to "Activar", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>