!Hola, <%= @user.name%>!

Te enviamos este correo porque solicitaste reiniciar tu contraseña. Puedes
reiniciarla dando click en el enlace de abajo:

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>

Este enlace expirará en dos horas.
Si no pediste reiniciar tu contraseña, puedes ignorar este correo.