<h1>Reinicio de Contraseña</h1>

<h5>Hola, <%= @user.name %>: </h5>

<p>Te enviamos este correo porque solicitaste reiniciar tu contraseña. Puedes
reiniciarla dando click en el enlace de abajo</p>

<%= link_to "Reiniciar contraseña", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Este enlace expirará en dos horas.</p>

<p>
Si no pediste reiniciar tu contraseña, puedes ignorar este correo.
</p>