<%= form_for(@store) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>
  
  <h5 class="center">Crea tu tienda online gratis</h5>
  
  <div class="divider"></div>
  <div class="container">
    <div class="col l11 input-field ">
      <i class="material-icons prefix">store</i>
      <%= f.text_field :store_name, class: 'form-control' %>
      <label for="icon_prefix"><%= f.label :store_name, "Nombre de tienda" %></label>
    </div>
    
    <div class="col l11 input-field ">
      <i class="material-icons prefix">mode_edit</i>
      <%= f.text_field :store_description, class: 'form-control' %>
      <label for="icon_prefix"><%= f.label :store_description, "Describe tu tienda" %></label>
    </div>
  </div>
  
  <div class="center">
    <%= f.submit "Crear", class: "waves-effect waves-light btn  hoverable z-depth-2 white-text " %>
  </div>
  
<% end %>