<%= form_for(@user, url: signup_path) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

  <h5 class="center">Registrate Gratis</h5>
  
  <div class="divider"></div>
  
  <div class="col l11 input-field ">
    <i class="material-icons prefix">person</i>
    <%= f.text_field :name, class: 'form-control' %>
    <label for="icon_prefix"><%= f.label :nombre %></label>
  </div>
  
  <div class=" col l11 input-field">
    <i class="material-icons prefix">email</i>
    <%= f.email_field :email, class: 'form-control' %>
    <label for="icon_prefix"><%= f.label :correo %></label>
  </div>
  
  <div class="col l11 input-field">
    <i class="material-icons prefix">lock_outline</i>
    <%= f.password_field :password, class: 'form-control' %>
    <label for="icon_prefix"><%= f.label :contraseña %></label>
  </div>
  
  <div class=" col l11 input-field">
    <i class="material-icons prefix">lock</i>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
    <label for="icon_prefix"><%= f.label :password_confirmation, "Confirma contraseña" %></label>
  </div>
  
  <div class="section">
    <div class="center">
      <%= f.submit "Registrarme", class: "waves-effect waves-light btn  link-rails hoverable z-depth-2 white-text " %>
    </div>
    <div class="center">
      <p>Ya tienes cuenta? <%= link_to "Inicia sesión", login_path%></p>
    </div>
  </div>
  
<% end %>