<% provide(:title, "Edit user") %>

<div class="container valign-wrapper">
  <div class="row">
    <div class="col l6 offset-l3 ">
      <div class="card-panel z-depth-4 page-center">
        <h5 class="center">Actualizar Perfil</h5>
        
        <div class="divider"></div>
        
        <div class="section">
          <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
      
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
      
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
      
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
      
            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
      
            <%= f.submit "Guardar Cambios", class: "waves-effect waves-light btn blue darken-4 hoverable z-depth-2 white-text" %>
          <% end %>
        </div>
      </div>
    </div>  
  </div>
</div>