<div class="container valign-wrapper">
  <div class="row">
    <div class="col l6 offset-l3 ">
      <div class="card-panel z-depth-4 page-center">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>