<% provide(:title, @user.name) %>
<div class="card-panel container center-block">
  <%= @user.name %>, <%= @user.email %>
</div>


<div class="row">
  <div class="container">
    <div class="col l8 s12">
      <% if @user.microposts.any? %>
        
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
      <% end %>
    </div>
    <div class="section">
      <div class="col l4">
        <div class="card-panel micropost-border">

          <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Crear tienda</a>
          <div id="modal1" class="modal">
            <div class="modal-footer">
              <a class="modal-close waves-effect waves-green btn-flat"><i class="material-icons">
              clear</i></a>
            </div>
            <div class="modal-content">
              <%= render 'stores/form' %>
            </div>
          </div>
          <!--
           if @user.stores.any? %>
            <p>Numero de tiendas:  @user.stores.count</p>
           end -->
          
          <% @stores.each do |store| %>
            <ul>
              <% if current_user?(store.user) %>
                <li><%= link_to store.store_name %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>  
</div>

 