<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "¿Cual es tu idea?", class: 'materialize-textarea' %>
  </div>
  <%= f.submit "Post", class: "white-text waves-effect waves-light btn purple lighten-1 z-depth-2" %>
  
  <div class="file-field input-field ">
    <div class="btn purple accent-2 z-depth-1">
      <input type="file" multiple>
      <i class="material-icons">camera_alt</i>
      <input type="file" accept="image/*;capture=camera">
    </div>
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png'%>
    <div class="file-path-wrapper">
      <input class="file-path" type="text">
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>