  <div class="col l4 s12 ">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag museum.photo.url if museum.photo?  %>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
        <%= museum.description %>
        <div class="divider"></div>
        <span class="user"><%= link_to museum.user.name, museum.user %></span>
        <span class="timestamp">
          Posteado hace <%= time_ago_in_words(museum.created_at) %>.
          <% if current_user?(museum.user) %>
            <%= link_to "delete", museum, method: :delete %>
          <% end %>
        </span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
  </div>
  
  
  
