<div class="card-panel z-depth-1 micropost-border">
  <li id="micropost-<%= micropost.id %>">
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
    <span class="content">
      <%= micropost.content %>
      <%= image_tag micropost.picture.url if micropost.picture? %>
    </span>
    <span class="timestamp">
      Posteado hace <%= time_ago_in_words(micropost.created_at) %>.
      <% if current_user?(micropost.user) %>
        <%= link_to "delete", micropost, method: :delete, data:{
        confirm: 'Seguro que quieres eliminar?', remote: true}, class:"delete" %>
      <% end %>
    </span>
  </li>
</div>


