@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import url('https://fonts.googleapis.com/css?family=Poppins');

/***Fonts and typography 00***/
h1, h2, h3, h4, h5, h6 {
     font-family: 'Poppins', sans-serif;
}

p{
    font-family: 'Poppins', sans-serif;
}

span {
    font-family: 'Poppins', sans-serif;
}

li {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

a {
    font-family: 'Poppins', sans-serif;
}

.brand-logo{
    font-family: 'Poppins', sans-serif;
}

.link-rails{
     font-family: 'Poppins', sans-serif;
}

/***Cards-01***/
.card-panel{
    border-radius: 5px;
}



/***postions-02***/

.page-center{
    margin-top: 10em;
}
.page-center-5em{
    margin-top: 5em;
}

.center-block{
    margin-left: auto;
    margin-right: auto;
}

/***Inputs-03***/
.input-field.col label{
    top: -0.8rem;
}



/***Alerts-04***/
.alert{
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.alert-danger{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}


/*Buttons-05*/
.btn{
    text-transform: none;
    font-family: 'Poppins', sans-serif;
}


/*Notification-badge-06*/
nav ul a span.badge {
    display: inline-block;
    float: none;
    margin-left: -19px;
    position: absolute;
    line-height: 22px;
    height: 22px;
    -webkit-font-smoothing: auto
}

img {
    object-fit: contain;
    max-width: 100%;
    height: auto
}



/*Navbar-07*/
nav ul a{
    font-size: 12px;
}


/* microposts-08 */

.microposts {
  list-style: none;
  padding: 0;

  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
      object-fit: contain;
      max-width: 100%;
      height: auto
    }
  }
  .timestamp {
    color: grey;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.micropost-border{
    border: 1.2px solid #757575ad;
}


/*Searchform*/
.nav-wrapper form #search {
    height: 30px;
}
nav .input-field label i {
    color: rgba(0, 0, 0, 0.7);
    transition: color .3s;
    margin-top: -16px;
    margin-left: -8px;
}

.exit-icon{
    margin-top: -16px;
    margin-right: -9px;
}

/*Google maps*/
.google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
/*Queries*/
@media only screen and (min-width: 993px){
  .container {
      width: 85%;
  }
}