<!DOCTYPE html>
<html>
  <head>
    <title>Tianguitz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    
    <% flash.each do |message_type, message| %>
      <% if :warning && :success && :danger || :info  %>
        <script>
          $(function() {
            M.toast({html: "<%= message %>"}, 4000);
          });
        </script>
      <% end %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
